<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>StorageNav</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  <script defer src="{{url_for('static', filename='js/index.js')}}"></script>
</head>
<body>
  <div id="ui">
    <div id="loading-block" class="content-block">
      <h2 class="big-logo">StorageNav</h2>
      <div class="centred-block">
        <svg class="loading-spinner" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_aj0A{transform-origin:center;animation:spinner_KYSC .75s infinite linear}@keyframes spinner_KYSC{100%{transform:rotate(360deg)}}</style><path d="M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z" class="spinner_aj0A"/></svg>
        <div>loading...</div>
      </div>
    </div>
    <div id="main-block" class="content-block" style="display: none">
      <div id="map-block">
        <div id="map">
          <div class="map-item" style="top: 10px; left: 10px; width: 100px; height: 25px"></div>
        </div>
      </div>
      <div id="test"></div>
      <div id="scale-map-btns-block" class="centred-block">
        <div id="scale-up-btn" class="scale-map-btn" onclick="scaleUpMap()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
        </div>
        <div id="scale-low-btn" class="scale-map-btn" onclick="scaleLowMap()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
          </svg>
        </div>
      </div>
    </div>
    <div id="close-app-btn-block" class="content-block centred-block" style="display: none">
      <div id="close-message"></div>
      <div class="close-app-btn" onclick="Telegram.WebApp.close()">close app</div>
    </div>
  </div>
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
</body>
</html>